
.row {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(173, 9, 9, 0.25);
    border-radius: 4px;
    background-color: grey;
    width: 162px;
    min-width: 162px;
  }

  .row-mute {

  }

  .mute-button {
    border: 1px solid black;
    background-color: grey;
  }
  